.container
  %aside.pull-left
    %p © ИА «Федеральный бренд»
    %p Информационное агентство «Федеральный бренд» (ФедБренд) зарегистрировано в Федеральной службе по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)
    %p ИА №ФС77-53225 от 14 марта 2013 г.
    %p Учредитель: ООО «Арт энд Смарт»
    %p Генеральный директор: Нина Исайченко
    %p Главный редактор: Алена Прохорова
    %p e-mail: welcome@fedbrand.ru
