.container
  %aside.pull-left
    %p © ИА «ФедБренд»
    %p Информационное агентство «Федеральный бренд» (ФедБренд) зарегистрировано в Федеральной службе по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 22 марта 2013 г. Учредитель ООО «Арт энд Смарт»
    %p
      Генеральный директор: Нина Васильевна Исайченко
      %br Главный редактор: Алена Прохорова
    %p
      e-mail: welcome@fedbrand.ru
      %br ИА http://fedbrand.ru