%section.index-block.index-partners_block.get-shadow
  %h2= t 'pages.home.partners.title'
  .vertical-carousel_link
    = link_to t('pages.home.partners.prev'), '#', :id=>"partners-slider_prev"
  .jcarousel.vertical-slider.white-slider#partners-slider
    %ul
      - Partner.where(group: 'Партнеры').each do |partner|
        %li= link_to image_tag(partner.logo.url(:thumb)), partner.url if partner.logo.url
  .vertical-carousel_link
    = link_to t('pages.home.partners.next'), '#', :id=>"partners-slider_next"
