#get-potential_block.get-gradient.get-shadow

  %header
    #minimize.get-rating_link
      %b
        = link_to t('pages.potential.minimize'), '#'
    #maximize.get-rating_link
      %b
        = link_to t('pages.potential.maximize'), '#'
    %b{:style => "color: #1559a9;"}
      = t ('pages.potential.title')
  #potential{:style => "display: none;"}
    %table
      %tr
        %td{:colspan => 5}
          %h3
            = t ('pages.potential.legend')
      %tr
        %td
          %h2 Эффективно используемый маркетинговый потенциал
        %td{:colspan => 4}
      %tr
        %td +HH
        %td +H
        %td +HL
        %td +L
        %td +LL
      %tr
        %td Крайне высокий потенциал
        %td Высокий потенциал
        %td Средний потенциал
        %td Низкий потенциал
        %td Крайне низкий потенциал
      %tr
        %td 2 субъекта
        %td 2 субъекта
        %td нет субъектов
        %td 1 субъект
        %td 4 субъекта
      %tr
        %td г. Москва, Тюменская область
        %td г. Санкт - Петербург, Московская область
        %td -
        %td Республика Дагестан
        %td Белгородская область, Калининградская область, Курская область, Республика Северная Осетия-Алания

    %br
    %table
      %tr
        %td
          %h2 Неэффективно используемый маркетинговый потенциал
        %td{:colspan => 4}
      %tr
        %td +HH
        %td +H
        %td +HL
        %td +L
        %td +LL
      %tr
        %td Крайне высокий потенциал
        %td Высокий потенциал
        %td Средний потенциал
        %td Низкий потенциал
        %td Крайне низкий потенциал
      %tr
        %td 14 субъектов
        %td 14 субъектов
        %td 16 субъектов
        %td 15 субъектов
        %td 15 субъектов
      %tr
        %td Архангельская область, Забайкальский край, Иркутская область, Краснодарский край, Красноярский край, Мурманская область, Республика Башкортостан, Республика Саха (Якутия), Республика Татарстан, Свердловская область, Томская область, Хабаровский край, Ханты-Мансийский АО, Ямало-Ненецкий АО
        %td Алтайский край, Волгоградская область, Вологодская область, Камчатский край, Магаданская область, Ненецкий АО, Нижегородская область, Новосибирская область, Пермский край, Республика Коми, Ростовская область, Самарская область, Саратовская область, Челябинская область
        %td Амурская область, Воронежская область, Кемеровская область, Кировская область, Ленинградская область, Омская область, Оренбургская область, Приморский край, Республика Бурятия, Республика Карелия, Республика Тыва, Сахалинская область, Смоленская область, Ставропольский край, Тверская область, Ярославская область
        %td Астраханская область, Брянская область, Владимирская область, Калужская область, Костромская область, Липецкая область, Новгородская область, Пензенская область, Республика Алтай, Республика Хакасия, Рязанская область, Тамбовская область, Удмуртская Республика, Ульяновская область, Чукотский АО
        %td Еврейская автономная область, Ивановская область, Кабардино-Балкарская республика, Карачаево-Черкесская республика, Курганская область, Орловская область, Псковская область, Республика Адыгея, Республика Ингушетия, Республика Калмыкия, Республика Марий Эл, Республика Мордовия, Тульская область, Чеченская республика, Чувашская Республика