%section.index-block.index-video_block.get-shadow
  %h2= t 'pages.videos.title'
  - Video.all.last(3).each do |video|
    %article.get-gradient
      %figure
        %p= link_to image_tag(video.thumb), '#'
        %figcaption
          %h3= link_to video.title, '#'