%section.get-content_side.get-shadow.no-width_pad.get-news_content
  %h1= "Тэг: #{@tag}"
  - unless @news.blank?
    .news-cats.get-gradient.width-full
      %section= render partial: 'shared/news', locals: { collection: @news }
= render 'shared/news_sidebar'