#contacts
  #map
    .title= t 'pages.contacts.map.title'
    .address= t 'pages.contacts.map.address'

  #contact_us
    .title= t 'pages.contacts.contact_us.title'
    .phone
      .title= t 'pages.contacts.contact_us.phone'
      %p (495) 940-60-83
    .email
      .title E-mail
      %p welcome@fedbrend.ru
