%section.get-content_side.get-shadow.no-width_pad.all-videos
  %h1= t 'pages.videos.title'
  - @videos.each do |video|
    %article.video
      %figure{ data: { iframe: video.tag, title: video.title }}
        %p= link_to image_tag(video.thumb), '#videoModal', :role=>'button', 'data-toggle'=>'modal' if video.thumb
        %figcaption
          %h3= link_to video.title, '#videoModal', :role=>'button', 'data-toggle'=>'modal'

= render 'shared/news_sidebar'
