#about_award
  = t 'pages.awards.title'

  #links
    = link_to t('pages.awards.links.organizers'), organizers_awards_path
    |
    = link_to t('pages.awards.links.nominees'), nominees_awards_path
    |
    = link_to t('pages.awards.links.archive'), archive_awards_path