@import "mixins";

.get-awards {background-color:#fff; width:690px!important;

  .get-gradient {@include float-left; width:660px; padding:0 15px; }

  .get-text {@include content-wrapper(15px);

    figure {margin-bottom:30px; }

  }

  .get-pdf {padding:10px 15px; margin-top:10px; width:660px; }

}

.awards-nav {margin-top: 30px;}
.organizers {margin-bottom: 0;}

.get-organizer_main {@include content-wrapper(50px); padding-bottom:20px;

  figure {@include float-left; width:330px; padding-right:14px; border-right:1px solid #ccc; }
  aside {@include float-right; width:520px; padding:8px 20px 0 0; }

}

.awards-partners_block {
  .group {margin-top: 35px;}

  figure {width:146px; @include float-left; padding-right:10px; }

  aside {@include float-left; width:254px; }

  .get-work_post {font-size:pem(16px); font-weight:bold; color:#000; }

  article {width:410px; margin-top:25px; margin-left:16px; display: -moz-inline-stack; display:inline-block; vertical-align:top; zoom: 1; *display: inline;

    &:nth-child(2n+1) {margin-left:40px; padding-left:59px; margin-right:0; border-left:1px solid #ccc; }

    header {@include wrap; height:100px; padding-bottom:10px; figure {text-align:center; width:100%; padding:0; } }

  }

  &.awards-partners_block-main {padding:30px 15px; width:940px; @include float-left;

    .container {padding:0; }

    article {width:100%; margin:0; border:none; padding-left:15px;}

    aside {width:765px; }

    h1 {@include h3-big; text-transform:none; margin:0; }

    footer {margin-top:0; }

    p { text-align: justify; }

  }

}

.awards-nominees {

  .get-content_side-full {padding-bottom:0; }

  .nominees-experts {padding-top:30px!important;

    h2 {@include h3-big; text-transform:none; }

  }

}

.nominees-block {width:970px!important; @include float-left; margin-top:30px;

  .news-cats {width:970px!important; padding:0px!important; }

  h1 {@include h3-big; text-transform:none; }

  article {width:280px!important; margin:0 20px;

    h3 {color:#000; }

  }

}

.nominees-slider {padding:16px 15px; width:940px; height:178px; @include float-left; background-color:#fff; margin-top:20px;

  h2 {@include h3-big; text-transform:none; margin:0!important; line-height:normal!important; }

}

.awards-archive {

  .get-publications {@include wrap; padding-top:20px; h2 {margin-left:15px; } article {width:200px!important; } }

  .get-archive_years {margin-top:35px; padding:8px 0; background-color:#eee;

    ul {margin-left:15px; li {font-size:pem(16px)!important; } }

  }

  .awards-archieve_block {@include content-wrapper(16px); padding-bottom:15px;

    aside {@include float-left;

      h3 {margin:0; }
      p {line-height:$baseFontSize; }

      article {@include wrap; padding:10px 0 0 0; }

      &.get-winners {width:370px; font-weight:bold; }
      &.get-jury {width:290px; margin-left:110px;

        figure {@include float-left; width:63px; padding-right:10px; }
        aside {float:right; width:217px; font-size:pem(12px); h3 {font-size:$baseFontSize; line-height:$baseFontSize; } }

      }

    }

  }

}
