@import "compass/css3/pie";
@import "compass/css3";

@import "bootstrap/variables";

$icons:sprite-map('icons/*.png', $layout: smart);
$sprites:sprite-map('sprites/*.png', $layout: smart);

$linkColor:#1559a9;

$pie-behavior: url("/javascript/PIE.htc");
$pie-base-class: pie-element;

$textColor:#414141;

$baseFontSize:14px;

@function pem($pxval, $base: $baseFontSize) {
  @return #{$pxval / $base}em;
}

@import "bootstrap/mixins";
@import "bootstrap/reset";
@import "bootstrap/scaffolding";
@import "bootstrap/utilities";
@import "bootstrap/tables";
@import "bootstrap/type";
@import "bootstrap/buttons";
@import "bootstrap/close";
@import "bootstrap/alerts";
@import "bootstrap/dropdowns";

@import "mixins";