@import "compass/css3";

@import "mixins";

#get-main_content {@include content-wrapper; }

#get-rating_content {background:image-url('repeaters/bg_maximize.jpg') repeat-x left top; @include content-wrapper; }

.csscolumns #get-rating_block article {@include column-count(2); @include column-width(280px); @include column-rule-width(50px); @include column-gap(100px); @include column-rule(1px, solid, #dfdfdf); }

#get-rating_block {@include content-wrapper(5px); padding:15px 25px; width:920px;

  header {font-size:pem(12px); font-weight:bold; text-transform:uppercase; @include wrap; position:relative;

    .get-rating_link {@include get-absolute; right:0;

      a {color:#000; font-size:pem(12px); position:relative; padding-right:30px; text-transform:uppercase;

        &:after, & > iea {content:""; @include get-absolute; right:0; top:-3px; width:20px; height:20px; }

      }

      &#minimize {

        a {

          &:after, & > iea {background:sprite($icons, icon-rating-minimize) no-repeat; }

        }

      }

      &#maximize {

        a {

          &:after, & > iea {background:sprite($icons, icon-rating-maximize) no-repeat; }

        }

      }

  }

  }

  article {@include content-wrapper(20px); padding:0 100px; width:720px; font-weight:bold;

    ul {margin:0; padding:0; list-style-type:none;

      li {margin-top:20px; line-height:normal; position:relative; background:image-url('repeaters/gray_dot3px.gif') repeat-x left bottom;

      em {font-style:normal; position:relative; left:0; padding-right:4px; top:4px; } span {@include get-absolute; padding-left:2px; right:0; top:4px; color:#d30000; }

      &:first-child {margin-top:0; }

      &:nth-child(1), &:nth-child(6) {

        em, span {background-color:#FDFDFD; }

      }

      &:nth-child(2), &:nth-child(7) {

        em, span {background-color:#FBFBFB; }

      }

      &:nth-child(3), &:nth-child(8) {

        em, span {background-color:#FAFAFA; }

      }

      &:nth-child(4), &:nth-child(9) {

        em, span {background-color:#F9F9F9; }

      }

      &:nth-child(5), &:nth-child(10) {

        em, span {background-color:#F8F8F8; }

      }

    }

    }

  }

  footer {@include content-wrapper; }

}

.get-contacts_sidebar {background-color:#fff;

  article {@include wrap; margin:0 5px; width:210px; padding:20px 0 10px 0; h3 a {text-decoration:underline!important; &:hover {text-decoration:none!important; } }

    &.get-phone {border-bottom:1px solid $borderHrColor; padding-bottom:20px; h3 {@include h3-big; } } }

}

.tag_links {@include float-left; @include ul-inlineblock(0 4px, left); text-transform:uppercase; font-size:pem(10px); color:#ccc;

    li {position:relative;

      &:first-child {margin-left:0; }

      &:after, & > iea {content:"| "; @include get-absolute; right:-7px; font-weight:normal; color:#ccc; }

      &:last-child {

        &:after, & > iea {content:""; }

      }

  }

  a {font-weight:bold; background:image-url('repeaters/dot_link.gif') repeat-x left bottom; &:hover {background:none; } }

}

.news-index {

  .get-news_content {width:690px; background-color:#fff; padding-bottom:25px;

    .news-cats {@include float-left; padding:20px; width:650px;

      &.content-news_block {padding-left:0; padding-right:0; width:690px; }

    }

    h2 {@include float-left; width:650px; position:relative; line-height:normal; padding:0px 20px; height:28px; line-height:28px; background-color:#195ea8; color:#fff; font-size:pem(12px)!important; margin:0!important;

      &:before {content:""; @include get-absolute; right:0; width:138px; height:28px; background:sprite($sprites, sprite-news) no-repeat; }

      &.actual {background-color:#cc2d09;

        &:before {background:sprite($sprites, sprite-news_actual) no-repeat; }

      }

      &.no-bg {background:none; margin-top:5px!important; color:#000; &:before, & > ieb {background:none; } }

    }

  }

}

.news-show {
  
  .get-news_content {width:690px; background-color:#fff; 
    
    .get-gradient {@include float-left; width:635px; padding:0 45px 30px 10px; }
    
    p {font-size:pem(12px); }
    
    h2 {@include h3-big; text-transform:none; }
      
    blockquote {border:1px solid #777; padding:15px 20px; @include float-left; font-style:italic; font-size:pem(18px); }
      
    .get-content_short {@include float-left; width:615px; padding-left:20px; blockquote {width:573px; }
      
      &.get-content_full {padding-left:30px; width:605px; margin-top:20px; blockquote {width:563px; } } }
  
  }
  
}

.get-news_content {

  .get-all_items {@include content-wrapper(10px); text-align:right; }

  .get-content_menu {padding:0 20px; margin-top:10px; width:650px; }

  .news-cats {

    &.get-publications {

      footer {text-transform:uppercase; font-weight:bold;

        span {color:#1559a9; font-size:pem(12px); &.on-line {color:#fff; background-color:#1eb113; padding:3px 7px; &.get-bradius {@include border-radius(3px); } } }

      }

    }

    &.content-news_block {

      .get-all_items a {margin-right:20px; }

      section {margin:0; @include wrap;

        article {width:190px; margin:0 20px;

          p {font-size:pem(11px); }

          footer {border:none; }

          .tag_links {margin-top:10px; padding-top:5px; width:190px; border-top:1px solid $borderHrColor; ul {text-align:left; li:first-child a {margin-left:0; } } }

        }

      }

    }

    &.width-full { article {@include content-wrapper(40px); .tag_links {@include get-absolute; width:445px; right:0; top:-20px; ul {text-align:right; } } }

    figure {@include float-left; width:188px; }

    .get-desc {@include float-right; width:445px; p {line-height:normal; } }

    h3 {@include h3-big; margin-top:0; line-height:$baseLineHeight * 1.4; }

  }

    section {@include wrap; margin-top:-20px; }

  }

  h1 {margin:5px 0 20px 15px; }

}

.get-pager {@include content-wrapper;

  .get-link {@include float-left; font-size:pem(10px); font-weight:bold; text-transform:uppercase;

    a {position:relative; color:#000; }

    .no-active {color:#828282; cursor:auto; text-decoration:none!important; }

    &.get-prev_link {

      .no-active {

        &:before, & > ieb {background:sprite($icons, icon-arrow-left-gray) no-repeat; }

      }

    }

      &.get-next_link {

        .no-active {

          &:after, & > iea {background:sprite($icons, icon-arrow-right-gray) no-repeat; }

        }

    }

  }

  .get-middle {@include float-left; width:430px; @include ul-inlineblock(0 4px, center); font-size:pem(12px);

    a, span {display:block; width:24px; height:24px; line-height:23px; text-align:center; color:#8d8d8d; background-color:#e6e6e6; &.get-bradius {@include border-radius(50%); } }

    a:hover, span {color:#fff; background-color:#1559a9; }

  }

}

.news-sidebar {

  h2 {margin:5px 0; }

  .get-wrapper {margin-top:-30px; }

  .get-sidebar {margin-top:20px; }

  .get-tags_cloud {background-color:#fff; }

  .index-video_block {width:220px; margin-top:25px; h2 {color:#fff; margin-left:0; } &.get-gradient {@include background-image(linear-gradient(#2870b6, #1457a1)); }

    article {width:220px; padding:0; border-bottom:1px solid #477cb5; &:last-child {border:none; } a {color:#fff; } }

  }

  .get-news_categories {background-color:#fff;

    ul {@include my-inline-list; li {font-size:pem(10px); font-weight:bold; width:200px; border-bottom:1px solid $borderHrColor; padding:5px 0 3px 20px; position:relative;

      &:before, & > ieb {content:""; background:sprite($icons, icon-arrow-right-gray) no-repeat; width:5px; height:8px; @include get-absolute; left:3px; top:10px; }

      &:last-child {border:none; } } }

  }

}