@import "mixins";

.experts-index {

  .get-content_side-full {padding-bottom:0; }

}

.get-experts_block {

  h2 {margin-top:35px;}

  .get-expert_action {@include get-absolute; right:0; width:330px;

    label {color:#666; font-size:pem(12px); padding-right:10px; cursor:auto;}

    select {cursor:auto;}

    .link-abc {font-size:pem(12px); a {color:#000; text-decoration:underline!important; &:hover {text-decoration:none!important; } }}

  }

  .experts-switcher {margin-top:20px; height:20px;

    h1 {@include float-left; margin:0 15px 0 0; }

    @include ul-inlineblock(0 2px, left); ul {@include float-left; margin-top:-2px; }

    li {padding-top:1px; &.get-label {padding-top:0; } }

    a {@include hide-block; width:5px; height:8px;

      &.disabled {cursor:default; }

      &.get-prev {background:sprite($icons, icon-arrow-left-blue) no-repeat; &.disabled {background:sprite($icons, icon-arrow-left-gray) no-repeat; } }
      &.get-next {background:sprite($icons, icon-arrow-right-blue) no-repeat; &.disabled {background:sprite($icons, icon-arrow-right-gray) no-repeat; } }

    }

    span {font-weight:bold; text-transform:uppercase; color:$linkColor; }

  }

  .experts-pager {@include ul-inlineblock(0 10px 0 0, center); li {float:none; padding:3px 0 0 10px; border-left:1px solid #ccc; height:18px; &:first-child {border:none; } }

  }

}

.get-experts_category {@include wrap; padding-bottom:30px;

  h2 {margin:0 0 0 20px;}

  article:nth-child(3n+1) {margin-left:30px;}
  article:nth-child(3n+2) {margin-left:65px; margin-right:60px;}

  article {width:248px; padding-top:20px; display: -moz-inline-stack; display:inline-block; vertical-align:top; zoom: 1; *display: inline;

    footer {margin-top:30px; }

  }

}