@import "base";

.index-block {@include float-left; height:565px; overflow:hidden; background-color:#fff;

  h2 {margin-top:5px; }

}

.index-news_block {width:425px; padding:0 20px;
  
  h3 {font-size:pem(16px); line-height:16px; margin:0 0 10px 0; }
  p {font-size:pem(11px); line-height:15px; }
  
  article {display: -moz-inline-stack; display:inline-block; vertical-align:top; zoom: 1; *display: inline; margin:0 30px 0 0; width:195px; padding-bottom:20px;
  
    &:nth-child(odd) {margin-right:0; }
  
    footer {border-top:1px solid #eee; @include content-wrapper(5px); padding-top:10px; }
  
  }
  
}

.index-video_block {width:210px; margin-left:22px;
  
  h2 {margin-left:15px; margin-bottom:0; }
  
  article {@include content-wrapper(14px); padding:0 15px 5px 15px; width:180px;
  
    &:first-child {margin-top:5px; }
    
    h3 {font-size:pem(14px); line-height:16px; word-wrap:break-word; }
    
    figure {margin:0; 
    
      p {margin:0; a {position:relative; display:block; width:160px; height:97px; &:before, & > ieb {content:""; @include get-absolute; background:sprite($icons, icon-video-play) no-repeat; width:39px; height:39px; left:50%; top:50%; margin:-19px 0 0 -19px; } } }
      
      img {border:1px solid #ccc; width:158px; height:95px; }
      
    }
  
  }
  
  
}

.index-partners_block {width:226px; float:right; padding:0 12px;
  
  h2 {margin-bottom:0; }
  
  .partners-carousel_link {position:relative; 
  
    a {@include hide-block; @include get-absolute; width:28px; height:12px; left:50%; margin-left:-14px;
    
      &#partners-slider_prev {background:sprite($icons, icon-carousel-prev) no-repeat; }
      &#partners-slider_next {background:sprite($icons, icon-carousel-next) no-repeat; margin-top:5px; }
    
    }
  
  }
  
  .jcarousel {position:relative; overflow:hidden; width:226px; height:470px; margin-top:15px;
    
    &:before, & > ieb {content:""; @include get-absolute(88); width:226px; height:1px; background-color:#fff; }
      
      ul {height:20000em; @include get-absolute; list-style:none; margin: 0; padding: 0;
        
        li {float:left; width:226px; height:93px; border-top:1px solid #eee; line-height:93px; }
        
      }
  }
  
  
}

.index-expert_block {width:940px; height:175px; padding:20px 15px 0 15px; 

  @include ul-inlineblock(0 30px 0 0, left);
  
  li {width:200px; height:135px; overflow:hidden; padding-left:90px; position:relative;
    
    h3 {font-size:pem(14px); line-height:15px; margin:0; }
    
    p {@include get-absolute; top:80px; font-size:pem(11px); line-height:14px; margin:0; padding:0; }
    
    &:nth-child(3) {margin:0; }
    
    figure {margin:0; @include get-absolute; left:0; top:-80px;
    
      p {margin:0; img {border:1px solid #eee; width:77px; height:103px; }}
    
    }
    
  }

  footer {@include wrap; border-top:1px solid #eee; margin-top:-5px; padding-top:10px; }

}