@import "bootstrap/variables";

$icons:sprite-map('icons/*.png', $layout: smart);
$sprites:sprite-map('sprites/*.png', $layout: smart);

$linkColor:#1559a9;

$pie-behavior: url("/javascript/PIE.htc");
$pie-base-class: pie-element;

$textColor:#414141;

$headingsColor:#000;

$baseLineHeight:18px;

@function pem($pxval, $base: $baseFontSize) {
  @return #{$pxval / $base}em;
}

@mixin wrap {float:left; width:100%;}

@mixin hide-block {display:block; text-indent:-999em; }

@mixin float-left {float:left; display:inline; }
@mixin float-right {float:right; display:inline; }

@mixin my-inline-list($margin:0, $float:left) {list-style-type:none; padding:0px; margin:0px; li {float:$float; display:inline; margin:$margin; }}

@mixin ul-inlineblock($margin:0, $align:left) {
	
	ul {list-style-type:none; padding:0px; margin:0px; text-align:$align;

		li {display: -moz-inline-stack; display:inline-block; vertical-align:middle; zoom: 1; *display: inline; margin:$margin; }
	
	}
	
}

@mixin content-wrapper($margin:20px) {@include wrap; margin-top:$margin; }

@mixin get-absolute($zIndex:55) {position:absolute; z-index:$zIndex; }

@mixin pie($type:relative) {position:$type; behavior: url('/javascripts/PIE.htc'); }