@import "mixins";

.ui-helper-hidden
{
    display: none;
}
.ui-helper-hidden-accessible
{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}
.ui-helper-reset
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	content: "";
	display: table;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	zoom: 1;
}
.ui-helper-zfix
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}


.wijmo-wijsuperpanel
{
    overflow: hidden;
    outline: none;
    background-image: none;
}
.wijmo-wijsuperpanel-statecontainer
{
    overflow: hidden;
    position: relative;
    zoom:1;
}
.wijmo-wijsuperpanel-contentwrapper
{
    position: absolute;
    overflow: hidden;

}
.wijmo-wijsuperpanel-hbarcontainer, .wijmo-wijsuperpanel-vbarcontainer
{
    font-size: 0px;
    border:0;
}
.wijmo-wijsuperpanel-templateouterwrapper
{
    position: relative; 
/*    overflow:auto; */
    zoom: 1;
}

.wijmo-wijsuperpanel-vbarcontainer .ui-state-default, .wijmo-wijsuperpanel-hbarcontainer .ui-state-default
{
    width: 16px;
    height: 16px;
    position: absolute;
}
.wijmo-wijsuperpanel .wijmo-wijsuperpanel-vbarcontainer
{
    position: absolute;
    width: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: none;
}
.wijmo-wijsuperpanel .wijmo-wijsuperpanel-hbarcontainer
{
    position: absolute;
    height: 18px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
}
.wijmo-wijsuperpanel-handle
{
    position: absolute;
    font-size:0px;
    overflow:hidden;
}
.wijmo-wijsuperpanel-handle *
{
    font-size:0px;
}
.wijmo-wijsuperpanel-helper
{
    border-style: dotted;
    background: transparent;
}

.wijmo-wijsuperpanel-button
{
    position: absolute;
    padding: 4px;
}
.wijmo-wijsuperpanel .ui-icon-gripsmall-diagonal-se
{
    background: none;
    width: 7px;
    height: 7px;
}
.wijmo-wijsuperpanel-hbar-buttonleft
{
    left: 0;
}
.wijmo-wijsuperpanel-hbar-buttonright
{
    right: 0;
}
.wijmo-wijsuperpanel-vbar-buttontop
{
    top: 0;
}
.wijmo-wijsuperpanel-vbar-buttonbottom
{
    bottom: 0;
}

.ui-helper-horizontal > DIV,
.ui-helper-horizontal > LI,
.ui-helper-horizontal > SPAN,
.ui-helper-horizontal > LABEL,
.ui-helper-horizontal > H1,
.ui-helper-horizontal > H2,
.ui-helper-horizontal > H3,
.ui-helper-horizontal > H4
{
    float: left;
    clear: none;
    display: block;
}

.wijmo-wijdropdown
{
    display: inline-block;
    position: relative;
    width: auto;
    zoom: 1;
    *display: inline; text-transform:uppercase; font-weight:bold;
    width:176px!important; border-left:2px solid #ccc; border-top:2px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#fff;

}

.wijmo-wijdropdown div.wijmo-dropdown-trigger
{
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.wijmo-wijdropdown .wijmo-dropdown-trigger .ui-icon
{
    margin-top:12px; background:sprite($icons, icon-arrow-bottom-black_small) no-repeat; width:8px; height:4px; @include hide-block;
}

.wijmo-wijdropdown label.wijmo-dropdown-label
{
    display: block;
    padding: 5px 26px 5px 10px;
    width: auto;
    border: none; color:#000;
}



.wijmo-wijdropdown .wijmo-dropdown
{
    position: absolute; height:250px;
}

.wijmo-wijdropdown .wijmo-dropdown .wijmo-dropdown-list
{
    width:176px!important;
    border-left:2px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc;
}

.wijmo-wijdropdown .wijmo-dropdown .wijmo-dropdown-item
{
border:1px solid transparent; width:176px!important;
cursor:pointer;
font-weight:normal;
margin:1px 0;
padding:3px 5px;
text-align:left; font-size:pem(12px); font-weight:bold;
*border-color: white;
*filter: chroma(color=white);

}

.wijmo-wijdropdown .wijmo-dropdown .wijmo-dropdown-optgroup .wijmo-dropdown-items li
{
    padding-left: 10px;
}

.wijmo-wijdropdown .wijmo-dropdown .wijmo-optgroup-header
{
    font-style: italic;
}
