@import "active_admin/mixins"
@import "active_admin/base"

#utility_nav
  display: none !important

.action_items
  width: 315px
  float: right

  .action_item:first-child
    float: left

  .action_item:last-child
    float: right

form.gallery
  textarea
    height: 60px

  li.file
    input
      width: 400px

#rating_value_input
  input
    width: 100px
    height: 12px

form.expert
  #expert_description
    height: 40px

  #expert_position
    height: 40px

form.news
  #news_content
    height: 120px

form.video
  #video_tag
    height: 60px

form.award
  .jurors
    margin-bottom: 20px

  textarea
    height: 80px
