@import 'base'

#awards_links
  margin: 15px 0 15px 0

#awards_about
  width: 730px
  float: left

#awards_archive
  .block
    margin-top: 20px

    .winners
      float: left
      width: 600px

      .content
        p
          margin-bottom: 5px

    .jury
      display: inline-block
      width: 400px

      .content
        margin-top: 15px
        width: 400px
        height: 90px

        .info
          padding-top: 10px

        .image
          float: left
          margin-right: 20px

  .published
    margin-top: 15px

    .news_block
      float: left
      margin-top: 15px

      .news_single
        float: left
        width: 200px
        margin-right: 10px

        .content
          margin-top: 15px
          padding-bottom: 5px
          border-bottom: 1px solid #e6e6e6

        .link
          font-size: 12px
          margin-top: 5px
