@import 'base'

#top_rating
  #rating
    height: 135px

    ul
      margin: 20px 15px
      list-style: none
      float: left

      li
        margin: 0
        line-height: 1.2em

        .name
          margin-left: 5px
          display: inline-block
          width: 225px

  #link
    font-size: 13px
