@import 'base'

#header-with-content
  #header
    width: $content-width
    height: 30px
    margin: auto
    margin-top: 20px

    #locale
      float: right

  #nav
    width: $content-width
    margin: auto

    ul
      padding: 0
      list-style: none
      height: 80px
      margin: auto

      li
        float: left
        padding-right: 32px
        padding-left: 32px
        display: block
        line-height: 80px
        font-size: 21px

  #content
    margin: auto
    width: $content-width

#footer
