@import 'base'

#header-with-content
  #header
    width: $content-width
    height: 30px
    margin: auto
    margin-top: 20px

    #locale
      float: right

  #nav
    width: $content-width
    margin: auto

    ul
      padding: 0
      list-style: none
      height: 80px
      margin: auto
      text-align: center

      li
        display: inline
        padding: 0 32px
        line-height: 80px
        font-size: 21px

  #content
    margin: 20px auto
    width: $content-width

    #top_ratings
      margin-bottom: 20px

      #minimize, #maximize
        float: right
        font-size: 14px

      #minimize, #ratings
        display: none

      #ratings
        #rating_columns
          height: 135px

          ul
            margin: 20px 15px
            list-style: none
            float: left

            li
              margin: 0
              line-height: 1.2em

              .name
                margin-left: 5px
                display: inline-block
                width: 225px

        #links
          font-size: 13px

#footer