@import 'base'

#news_single
  h2
    text-align: center

  .image
    float: left
    margin-right: 15px

  .content_block
    width: 700px
    display: inline-block

    .content  
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid #e6e6e6

    .links
      float: right