%section.get-content_side-full.get-experts_block.get-shadow
  .container
    %h1 Эксперты
  .get-experts_category.get-gradient.items-3= render partial: 'shared/experts', locals: { experts: Expert.all }